astroid==2.2.5
autopep8==1.4.4
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
idna==2.8
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.1
pdoc3==0.6.3
pkginfo==1.5.0.1
pycodestyle==2.5.0
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.2
python-dateutil==2.8.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.35.0
twine==1.13.0
typed-ast==1.4.0
urllib3==1.25.3
webencodings==0.5.1
wrapt==1.11.2
